.intro-container{

max-width:900px;
margin:auto;
padding:120px 20px;
text-align:center;

h1{
font-size:46px;
color:#0b3c5d;
margin-bottom:10px;
}

h3{
color:#7a5c3e;
font-weight:500;
margin-bottom:25px;
}

p{
font-size:18px;
line-height:1.7;
color:#222;
margin-bottom:18px;
}

}